.ion_alpha_list_outer .list {
  padding-right: 15px;
}

.ion_alpha_list_outer .item {
  border-right: none;
}

.ion_alpha_sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ion_alpha_sidebar li {
  line-height: 1.1;
  cursor: pointer;
}

.letter-indicator {
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.ion_alpha_sidebar li {
  color: #cccccc;
}

.alpha-active {
  color: darkkhaki !important;
}